{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}"
    />
    <script
      type="text/javascript"
      src="{% static 'bootstrap-5.3.2/js/bootstrap.min.js' %}"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>Papéis</h1>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Habilitado</th>
              </tr>
            </thead>
            <tbody>
              {% for ticker in tickers %}
                <tr>
                  <td>{{ ticker.name }}</td>
                  <td>
                    {% if ticker.is_enabled %}
                    <span class="badge rounded-pill text-bg-success">&nbsp;</span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-danger">&nbsp;</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="col-md-9"></div>
      </div>
    </div>
  </body>
</html>
